interface = "eth0"
router_id = 50
priority = 100
advert_int = 5
vip_addresses = [ "192.168.35.200/24", "192.168.35.199/24" ]
pre_promote_script = "sh -C /path/to/custom_script.sh"
pre_demote_script = "/usr/bin/echo >> test.log"
