interface = "eth0"
router_id = 50
priority = 100
advert_int = 5
pre_promote_script = "sh -C ./custom_promote_script.sh"
pre_demote_script = "sh -C ./custom_demote_script.sh"
vip_addresses = [ "192.168.35.200/24", "192.168.35.199/24" ]
